<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
<div class="wrapper">

  <div class="nav-bar">
    <h1> Ecovill</h1>
    <ul>
      <p class="profile"> <%= user.name %><p>
        <li><a href="/api/home"> Home</a></li>
        <li><a href="/payment/pay"> Payment</a></li>
        <li><a href="/api/profile">Profile</a></li>
  </ul>
  </div>
  <p class="p-header">Profile</p>
  <div class="profile-details1"> 
    <% user.forEach(users => { %>
      <ul class="profile">
        <li>Name: <%= users.name %></li>
        <li>Phone Number: <%= users.phoneNumber %></li>
        <li> Address: <%= users.Address %></li>
        <li> Zone: <%= users.Zone %></li>
      </ul>
    <% }) %>
  </div>
  <br/>
  <br/>
  <br/>
</div>
<div>
  <button class="request"> <a href="/api/signup">Request to update details</a></button>
</div>
</body>
</html>